@font-face {
  font-family: JetMono;
  src: url(../fonts/JetBrains.woff2);
}
:root {
  --main-color: #2f2f2f;
  --header-background: #2f2f2f;
  --header-font-color: #f7f7f8;
  --blue-color: #3795bd;
}
html {
  overflow-y: scroll;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: JetMono;
}
body {
  color: var(--main-color);
}
header {
  background-color: var(--header-background);
  color: var(--header-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: var(--blue-color);
}
a:hover {
  text-decoration: underline;
}
header a {
  color: var(--header-font-color);
}
.container {
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.code {
  background-color: rgb(19, 19, 19);
  color: white;
}
pre {
  background-color: rgb(19, 19, 19);
  color: white;
  width: 100%;
  margin: 4px auto;
  border-radius: 5px;
  text-wrap: wrap;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
}
textarea {
  resize: none;
  width: 500px;
  width: 100%;
  min-height: 4rem; /* Disable resizing */
  padding: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 1rem;
}

table,
th,
td {
  border: 1px solid #cacaca;
}

th,
td {
  padding: 0.5rem;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
.flex {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.actions {
  width: 2rem;
  text-align: center;
}
.deleteImg {
  padding: 5px;
}
.deleteImg:hover {
  background-color: #a3a3a3;
  border-radius: 5px;
  cursor: pointer;
}
.downloadImg {
  padding: 5px;
}
.downloadImg:hover {
  background-color: #a3a3a3;
  border-radius: 5px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 1;
}

.overlay > div {
  width: 90vw;
  height: 300px;
  border-radius: 1rem;
  background-color: whitesmoke;
}
.ConfirmDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #747474 0px 0px 10px 2px;
}
.buttonsContainer {
  width: 70%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsContainer > button {
  background-color: #2f2f2f;
  outline: none;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttonsContainer > button:hover {
  cursor: pointer;
  background-color: #4b4b4b;
  outline: none;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 1rem;
}
.loader {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #0000;
  border-right-color: var(--blue-color);
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
.typefile {
  display: flex;
  flex-direction: column;
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.pagination-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 5px;
  text-decoration: none;
  color: var(--header-background);
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.pagination-link:hover {
  background-color: var(--header-background);
  color: white;
}
.pagination-link.active {
  background-color: var(--header-background);
  color: white;
  border: 1px solid var(--header-background);
}
.size {
  width: 2rem;
  text-align: center;
}
.size-child {
  font-size: 1rem;
  text-align: center;
}
.logo-container {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  margin-top: 1rem;
}
.imgmain {
  margin: 0 auto;
  display: inline;
  width: 300px;
}
.fileTitle {
  text-decoration: none;
  color: var(--blue-color);
}
@media screen and (max-width: 720px) {
  .responsive {
    display: none;
  }
}
